# named files
.DS_Store
.pyre_configuration
Pipfile
Pipfile.lock
LSOA_2011


# named directories
.idea
__pycache__
.pyre
.couscous
.hypothesis
.ipynb_checkpoints


# wildcards
*.log
models/*.bin
models/*.vec
data/*
.mypy*
output/*
